{% extends "base.html" %} {% block title %}Dashboard - Jellyswarrm{% endblock %} {% block body %}
	•	￼ Jellyswarrm
	•	{% block tabs %}{% endblock %}
	•	{% match root %}{% when Some with (r) %}{% when None %}{% endmatch %} Web UI
	•	
{% for (text, colour, icon) in flash %}
{{ text }}
{% endfor %}
{% block main_content %} {% endblock %}

Jellyswarrm Proxy Server {% match version %}{% when Some with (v) %} v{{ v }}{% when None %}{% endmatch %} {% match version %}{% when Some with (v) %} Checking {% when None %}{% endmatch %}
{% match jellyfin_ui_version %}{% when Some with (ui) %}Jellyfin Web UI {{ ui.version }}{% when None %}Jellyfin Web UI: UNKNOWN{% endmatch %}
Built with Rust & HTMX
{% endblock %}